---
import { Image } from 'astro:assets';
import type { Project } from '../../types/project';
import Badge from '../common/Badge.astro';

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="flex flex-col border rounded-md shadow-md overflow-hidden bg-white">
  <div class="bg-blue-50">
    <Image
      src={project.thumbnail}
      alt={project.name}
      loading="eager"
      class="h-64 object-cover"
    />
  </div>
  <section class="p-4 min-w-full border-t">
    <a
      href={'/projects/' + project.slug}
      class="text-blue-500 text-2xl hover:underline font-semibold"
      >{project.name}</a
    >
    <p class="text-gray-500 mb-3">{project.description}</p>

    <div class="flex gap-3">
      {project.technologies.frontend.map((tech) => <Badge label={tech.name} />)}
    </div>
  </section>
</div>

<style>
  .mask {
    mask-image: linear-gradient(white, transparent);
  }
</style>
