---
import { Image } from 'astro:assets';
import { projects } from '../../data/projects';
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project },
    };
  });
}

const { project } = Astro.props;
---

<Layout title={project.name}>
  <div class="flex flex-col gap-2 justify-center items-center p-6 text-center">
    <h1 class="text-2xl">{project.name}</h1>
    <h2 class="text-5xl font-serif">{project.description}</h2>
    <div class="mt-10 mx-6">
      <Image src={project.hero} alt="desktop" />
    </div>
    <h5>Revisa el codigo:</h5>
    <div class="flex gap-3">
      {
        project.repoLinks.map((link) => (
          <button class="bg-blue-500 text-white rounded-full px-3 py-1">
            {link.title}
          </button>
        ))
      }
    </div>
  </div>
  <section class="mx-auto max-w-screen-md p-5">
    <h2 class="text-4xl mb-3 font-serif">La historia</h2>
    <div class="grid gap-3 text-lg">
      {project.history.map((p) => <p>{p}</p>)}
    </div>
  </section>
  <section class="mx-auto max-w-screen-md p-5">
    <h2 class="text-4xl mb-3 font-serif">Un vistazo a la app</h2>
    <p>{project.summary}</p>
    <div class="flex gap-10">
      {
        project.summaryImages.map((img) => (
          <Image src={img} alt="summary image" />
        ))
      }
    </div>
  </section>
</Layout>
