---
import { Image } from 'astro:assets';
import { projects } from '../../data/projects';
import Layout from '../../layouts/Layout.astro';
import ProjectSection from '../../components/projects/ProjectSection.astro';
import ImageCarousel from '../../components/projects/ImageCarousel.astro';
import HyperLinkIcon from '../../components/icons/hyperLink.astro';
import Arrow from '../../components/icons/arrow.astro';

export function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project },
    };
  });
}

const { project } = Astro.props;
---

<Layout
  title={`${project.name} - Juan Hedderich`}
  description={project.description}
>
  <main class="flex flex-col gap-16">
    <header
      class="flex flex-col gap-2 justify-center items-center p-6 text-center"
    >
      <h1 class="text-2xl font-semibold">{project.name}</h1>
      <h2
        class="text-4xl md:text-5xl font-semibold text-balance max-w-screen-md leading-tight"
      >
        {project.description}
      </h2>
      <div class="mt-10 mx-6">
        <Image
          src={project.hero}
          loading="eager"
          alt="desktop"
          class="max-h-[600px] w-full"
        />
      </div>
      <div class="mt-6">
        <h4 class="text-lg mb-2">Revisa el código:</h4>
        <div class="flex gap-3 mb-6">
          {
            project.repoLinks.map((link) => (
              <a
                href={link.href}
                target="_blank"
                class="bg-blue-500 hover:rotate-3 font-semibold transition ease-out text-white rounded-full px-4 py-1"
              >
                {link.title}
              </a>
            ))
          }
        </div>
        {
          project.url && (
            <a
              href={project.url}
              class="flex gap-2 items-center justify-center text-lg text-blue-500 hover:underline"
            >
              Visita la página <HyperLinkIcon class="size-5" />
            </a>
          )
        }
      </div>
    </header>

    <ProjectSection title="La historia">
      <div class="grid gap-3 text-lg">
        {
          project.history.map((p) => (
            <p class="text-gray-500 dark:text-gray-400">{p}</p>
          ))
        }
      </div>
    </ProjectSection>

    <ProjectSection title="Un vistazo a la app">
      <p class="text-gray-500 dark:text-gray-400">{project.summary}</p>
      <ImageCarousel images={project.summaryImages} />
    </ProjectSection>
  </main>

  {
    project.info.map((info) => (
      <ProjectSection title={info.title}>
        <div class="grid gap-3 text-lg">
          {info.body.map((p) => (
            <p class="text-gray-500 dark:text-gray-400">{p}</p>
          ))}
        </div>
        <div class="flex flex-wrap justify-center gap-6 my-10 ">
          {info.media?.map((media) => {
            if (media.type === 'image')
              return (
                <Image
                  src={media.src}
                  alt={info.title}
                  class="rounded-md object-cover h-full"
                />
              );
            return (
              <video controls autoplay muted class="rounded-md">
                <source src={media.src} />
              </video>
            );
          })}
        </div>
      </ProjectSection>
    ))
  }

  <ProjectSection title="Tecnologías usadas">
    <div class="grid gap-3 text-lg">
      {
        project.technologies.summary.map((p) => (
          <p class="text-gray-500 dark:text-gray-400">{p}</p>
        ))
      }
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 items-start gap-6 justify-evenly min-h-[400px] my-10"
    >
      <div class="shadow rounded-md p-6 bg-white dark:bg-slate-900">
        <h3 class="text-3xl mb-6 text-center font-semibold">Frontend</h3>
        <div class="flex gap-10 justify-center items-end">
          {
            project.technologies.frontend.map((tech) => (
              <div class="flex flex-col items-center gap-1">
                <Image src={tech.image} alt="icon" class="size-24" />
                <span class="text-gray-500 dark:text-gray-400">
                  {tech.name}
                </span>
              </div>
            ))
          }
        </div>
      </div>
      <div class="shadow rounded-md p-6 bg-white dark:bg-slate-900">
        <h3 class="text-3xl mb-6 text-center font-semibold">Backend</h3>
        <div class="flex gap-10 justify-center items-end">
          {
            project.technologies.backend.map((tech) => (
              <div class="flex flex-col items-center gap-1">
                <Image src={tech.image} alt="icon" class="size-24" />
                <span class="text-gray-500 dark:text-gray-400">
                  {tech.name}
                </span>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </ProjectSection>
  <section class="flex flex-col items-center gap-10 justify-center">
    <h4 class="text-3xl font-semibold">Mis otros proyectos</h4>
    {
      projects.length > 1 && (
        <div class="flex gap-10 justify-center">
          {projects.indexOf(project) > 0 && (
            <div class="flex flex-col gap-3 items-center">
              <a
                href={`/projects/${projects[projects.indexOf(project) - 1].slug}`}
                aria-label="Previous project"
                class="rounded-full shadow hover:scale-105 transition ease-out bg-blue-500 text-white p-3 w-fit"
              >
                <Arrow class="size-7 rotate-90" />
              </a>
              <span>{projects[projects.indexOf(project) - 1].name}</span>
            </div>
          )}
          {projects.indexOf(project) < projects.length - 1 && (
            <div class="flex flex-col gap-3 items-center">
              <a
                href={`/projects/${projects[projects.indexOf(project) + 1].slug}`}
                aria-label="Next project"
                class="rounded-full shadow hover:scale-105 transition ease-out bg-blue-500 text-white p-3 w-fit"
              >
                <Arrow class="size-7 -rotate-90" />
              </a>
              <span>{projects[projects.indexOf(project) + 1].name}</span>
            </div>
          )}
        </div>
      )
    }
  </section>
</Layout>
