---
import { Image } from 'astro:assets';
import { projects } from '../../data/projects';
import Layout from '../../layouts/Layout.astro';
import ProjectSection from '../../components/projects/ProjectSection.astro';
import ProjectFlowCarousel from '../../components/projects/ProjectFlowCarousel.astro';

export function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project },
    };
  });
}

const { project } = Astro.props;
---

<Layout
  title={`${project.name} - Juan Hedderich`}
  description={project.description}
>
  <main class="flex flex-col gap-10">
    <div
      class="flex flex-col gap-2 justify-center items-center p-6 text-center"
    >
      <h1 class="text-2xl font-semibold">{project.name}</h1>
      <h2
        class="text-4xl md:text-5xl font-semibold text-balance max-w-screen-md leading-tight"
      >
        {project.description}
      </h2>
      <div class="mt-10 mx-6">
        <Image src={project.hero} loading="eager" alt="desktop" />
      </div>
      <h5 class="text-xl mt-5">Revisa el código:</h5>
      <div class="flex gap-3">
        {
          project.repoLinks.map((link) => (
            <button class="bg-blue-500 hover:rotate-3 font-semibold transition ease-out text-white rounded-full px-4 py-1">
              {link.title}
            </button>
          ))
        }
      </div>
    </div>
    <ProjectSection title="La historia">
      <div class="grid gap-3 text-lg">
        {project.history.map((p) => <p>{p}</p>)}
      </div>
    </ProjectSection>
    <ProjectSection title="Un vistazo a la app">
      <p>{project.summary}</p>
      <div class="fadein">
        <ProjectFlowCarousel images={project.summaryImages} />
      </div>
    </ProjectSection>

    {
      project.info.map((info) => (
        <ProjectSection title={info.title}>
          <p>{info.body}</p>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-10 fadein">
            {info.images.map((image) => (
              <Image src={image} alt={info.title} class="rounded-md" />
            ))}
          </div>
        </ProjectSection>
      ))
    }

    <ProjectSection title="Tecnologías usadas">
      <div
        class="grid grid-cols-1 md:grid-cols-2 items-start gap-6 justify-evenly min-h-[400px] my-10 fadein"
      >
        <div class="shadow rounded-md p-6 bg-white">
          <h3 class="text-3xl mb-6 text-center font-semibold">Frontend</h3>
          <div class="grid grid-cols-3 gap-10 justify-center items-end">
            {
              project.technologies.frontend.map((tech) => (
                <div class="flex flex-col items-center gap-1">
                  <Image src={tech.image} alt="icon" class="" />
                  <span class="text-gray-500">{tech.name}</span>
                </div>
              ))
            }
          </div>
        </div>
        <div class="shadow rounded-md p-6 bg-white">
          <h3 class="text-3xl mb-6 text-center font-semibold">Backend</h3>
          <div class="grid grid-cols-3 gap-10 justify-center items-end">
            {
              project.technologies.backend.map((tech) => (
                <div class="flex flex-col items-center gap-1">
                  <Image src={tech.image} alt="icon" class="" />
                  <span class="text-gray-500">{tech.name}</span>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </ProjectSection>
  </main>
</Layout>

<style>
  @media (prefers-reduced-motion: no-preference) {
    .fadein {
      scale: 0.9;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: 250px 500px;
    }

    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }
  }
</style>
